<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.16" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net461" />
</packages>